<header ng-switch on="$location.path().indexOf('/Orders/new') > -1">
    <h3 ng-switch-when="true">Create a new Order</h3>
    <h3 ng-switch-when="false">View or edit Order</h3>
</header>
<form id="OrderForm" name="OrderForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': OrderForm.orderid.$invalid}">
        <label for="orderid" class="col-sm-2 control-label">Orderid</label>
        <div id="orderidControls" class="col-sm-10">
            <input id="orderid" name="orderid" type="text" required class="form-control" ng-model="order.orderid" placeholder="Enter the Order Orderid"></input>
            <span class="help-block error" ng-show="OrderForm.orderid.$error.required">required</span> 
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveOrder" name="saveOrder" class="btn btn-primary" ng-disabled="isClean() || OrderForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteOrder" name="deleteOrder" class="btn btn-danger" ng-show="order.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>